In [10]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
os.chdir(r'C:\Users\63094\Downloads\hero wired\datacsv')

In [7]:
os.getcwd()

'C:\\Users\\63094\\Downloads\\hero wired\\datacsv'

In [15]:
os.listdir()

['07 Customer Churn Case Study Data.xlsx',
 '13.1 heart-disease.csv',
 'Analysis of IPL Data.xlsx',
 'bank_data.csv',
 'bank_data_clean.xlsx',
 'bmw_prices.csv',
 'car-sales-extended-missing-data.csv',
 'car-sales-extended.csv',
 'car-sales-missing-data.csv',
 'csv_datafile.csv',
 'FIRST.MLl',
 'FIRST.pkl',
 'Firstml.pk1',
 'heart-disease.csv',
 'Highest Holywood Grossing Movies.csv',
 'Lecture 05 File - Properties Data.csv',
 'matches (1).csv',
 'matches.csv',
 'superstore_sales.xlsx',
 '[Dataset 1]supermarket_sales.csv',
 '[Dataset 2]Students_eval_miss.csv']

In [16]:
df=pd.read_csv('car-sales-extended.csv')

In [17]:
df.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [18]:
x=df.drop('Price',axis=1)
y=df['Price']

In [19]:
x

       Make Colour  Odometer (KM)  Doors
0     Honda  White          35431      4
1       BMW   Blue         192714      5
2     Honda  White          84714      4
3    Toyota  White         154365      4
4    Nissan   Blue         181577      3
..      ...    ...            ...    ...
995  Toyota  Black          35820      4
996  Nissan  White         155144      3
997  Nissan   Blue          66604      4
998   Honda  White         215883      4
999  Toyota   Blue         248360      4

[1000 rows x 4 columns]

In [20]:
y

0      15323
1      19943
2      28343
3      13434
4      14043
       ...
995    32042
996     5716
997    31570
998     4001
999    12732
Name: Price, Length: 1000, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [27]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [76]:
clf=RandomForestRegressor()
clf.fit(x_train,y_train)

ValueError: could not convert string to float: 'Honda'

In [29]:
### THEN WE CONVERT THE CATEGORICAL TPO NUMERICAL VALUES

### CONVERTING THE CATEGORICAL TO NUMERICAL

In [32]:
df.head(1)

    Make Colour  Odometer (KM)  Doors  Price
0  Honda  White          35431      4  15323

In [33]:
df['Colour'].value_counts()

White    407
Blue     321
Black     99
Red       94
Green     79
Name: Colour, dtype: int64

In [34]:
df['Make'].value_counts()

Toyota    398
Honda     304
Nissan    198
BMW       100
Name: Make, dtype: int64

In [36]:
df['Doors'].value_counts()

4    856
5     79
3     65
Name: Doors, dtype: int64

### CHANGING NUM IN SKLEARN

In [48]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [79]:

c = ['Make','Colour','Doors']
ohe = OneHotEncoder()
trn = ColumnTransformer([("ohe",ohe,c)],remainder='passthrough')
upd_x = trn.fit_transform(x)

In [80]:
upd_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

### we can convert using pandas

In [87]:
pd.get_dummies(df[['Make','Colour','Doors']])

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [89]:
df['Doors']=df['Doors'].astype(object)

In [92]:
d=pd.get_dummies(df[['Make','Colour','Doors']])

In [93]:
d

,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White,Doors_3,Doors_4,Doors_5
0,0,1,0,0,0,0,0,0,1,0,1,0
1,1,0,0,0,0,1,0,0,0,0,0,1
2,0,1,0,0,0,0,0,0,1,0,1,0
3,0,0,0,1,0,0,0,0,1,0,1,0
4,0,0,1,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,1,1,0,0,0,0,0,1,0
996,0,0,1,0,0,0,0,0,1,1,0,0
997,0,0,1,0,0,1,0,0,0,0,1,0
998,0,1,0,0,0,0,0,0,1,0,1,0
999,0,0,0,1,0,1,0,0,0,0,1,0

In [95]:
d['Make_BMW'].value_counts()

0    900
1    100
Name: Make_BMW, dtype: int64

### now again we fit after converting

In [97]:
x_train,x_test,y_train,y_test=train_test_split(upd_x,y,test_size=0.3)

In [98]:
clf=RandomForestRegressor()
clf.fit(x_train,y_train)

RandomForestRegressor()

In [102]:
clf.score(x_test,y_test)

0.2472216691732524

In [108]:
df1=pd.read_csv('car-sales-extended-missing-data.csv')

In [176]:
df1

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996  Toyota  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [188]:
x=df1.drop("Price",axis=1)
y=df1["Price"]

In [166]:
df1.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [111]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [134]:
d=['Make','Colour','Doors']
ohe= OneHotEncoder()
ctf=ColumnTransformer([('ohe',ohe,d)],remainder='passthrough')

In [137]:
upd_x=ctf.fit_transform(x)

In [138]:
upd_x

<1000x16 sparse matrix of type '<class 'numpy.float64'>'
	with 4000 stored elements in Compressed Sparse Row format>

In [139]:
x_train,x_test,y_train,y_test=train_test_split(upd_x,y,test_size=0.3)

In [140]:
clf=RandomForestRegressor()

In [141]:
clf.fit(x_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

###  so we remove null values

In [155]:
df1['Make'].fillna( method='ffill',inplace=True)

In [159]:
df1['Colour'].fillna( method='ffill',inplace=True)

In [160]:
df1['Doors'].fillna( method='ffill',inplace=True)

In [163]:
df1['Odometer (KM)'].fillna( method='ffill',inplace=True)

In [165]:
df1['Price'].fillna( method='ffill',inplace=True)

In [175]:
df1.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [189]:
x=df1.drop("Price",axis=1)
y=df1["Price"]

In [199]:
d=['Make','Colour','Doors']
ohe= OneHotEncoder()
ctf=ColumnTransformer([('ohe',ohe,d)],remainder='passthrough')
ctf.fit_transform(x)

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [200]:
x_train,x_test,y_train,y_test=train_test_split(upd_x,y,test_size=0.3)

### missing values using sklearn

In [203]:
df2=pd.read_csv('car-sales-extended-missing-data.csv')

In [204]:
df2

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [205]:
df2.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [227]:
x=df2.drop("Price", axis=1)
y=df2['Price']

In [228]:
x

       Make Colour  Odometer (KM)  Doors
0     Honda  White        35431.0    4.0
1       BMW   Blue       192714.0    5.0
2     Honda  White        84714.0    4.0
3    Toyota  White       154365.0    4.0
4    Nissan   Blue       181577.0    3.0
..      ...    ...            ...    ...
995  Toyota  Black        35820.0    4.0
996     NaN  White       155144.0    3.0
997  Nissan   Blue        66604.0    4.0
998   Honda  White       215883.0    4.0
999  Toyota   Blue       248360.0    4.0

[1000 rows x 4 columns]

In [229]:
y

0      15323.0
1      19943.0
2      28343.0
3      13434.0
4      14043.0
        ...
995    32042.0
996     5716.0
997    31570.0
998     4001.0
999    12732.0
Name: Price, Length: 1000, dtype: float64

In [230]:
np.random.seed(24)
X_train, X_test, y_train, y_test =train_test_split(x,y,test_size=0.2)

In [231]:
clf.fit(x_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [232]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [245]:
cat_imp=SimpleImputer( strategy='constant',fill_value='ffill')
door_imp=SimpleImputer( strategy='constant',fill_value=4)
num_imp=SimpleImputer(strategy='mean')

In [249]:
cat_feat=['Make','Colour']
door_feat=['Doors']
num_feat=['Odometer (KM)']

In [250]:
rnv=ColumnTransformer([('cat_imp',cat_imp,cat_feat),('door_imp',door_imp,door_feat),('num_imp',num_imp,num_feat)])

In [251]:
rnv_xtrain=rnv.fit_transform(X_train)

In [252]:
rnv_x_test=rnv.transform(X_test)

In [253]:
rnv_xtrain

array([['Nissan', 'White', 3.0, 213449.0],
       ['Toyota', 'Blue', 4.0, 219420.0],
       ['Honda', 'White', 4.0, 245327.0],
       ...,
       ['Toyota', 'White', 4.0, 188338.0],
       ['Toyota', 'Blue', 4.0, 23241.0],
       ['Nissan', 'White', 3.0, 176135.0]], dtype=object)

In [254]:
df_filled_train=pd.DataFrame(rnv_xtrain)

In [255]:
df_filled_test=pd.DataFrame(rnv_x_test)

In [257]:
df_filled_train.isna().sum()

0    0
1    0
2    0
3    0
dtype: int64

### hence do tests nowb we remove misssing values